.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
venv
.venv/
.turbo
.git
terraform/*
.ipython
.pytest_cache
.ruff_cache
.mypy_cache
**/node_modules
**/dist
